body{
    background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

}

#d1{
    margin-left: 10%; 
    margin-right: 10%; 
    width: 80%;
    background-color:rgb(222, 226, 201);
}

#td1
{
    text-align: center;
}

#tb1
{
    width : 100%;
}