@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

   @{
        List<string> allMembers=(List<string>)this.ViewData["Students"];
        foreach( string p in allMembers){
            <p> @p</p>
        }
   }


    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
