@using System.Collections.Generic;;
@using BOL;
@using BLL;


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @{
        List<Product> allproducts = (List<Product>)ViewData["prod1"];
        foreach (Product p in allproducts)
        {
            <p>  @p.Id @p.Name </p>
        }
      
     }


    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
