@{
    ViewData["Title"] = "Add book";
}

<div class="text-center">
    <h1 class="display-4">Delete Manager</h1>
        <fieldset>
        <legend> Delete Book</legend>
        <form method="post">
            Enter id: <input type="text" name="dname1" id="did1"><br><br>

            <input type="submit" value="Delete Book">
        </form>
    </fieldset>

</div>
