@{
    ViewData["Title"] = "Add book";
}

<div class="text-center">
    <h1 class="display-4">Book Manager</h1>
        <fieldset>
        <legend> Update Book</legend>
        <form method="post">
            Enter id: <input type="text" name="uname1" id="id1"><br><br>
            Enter Book Name: <input type="text" name="uname2" id="id2"><br><br>
            Enter Author Name: <input type="text" name="uname3" id="id3"> <br<br>>
            Enter Price: <input type="text" name="uname4" id="id4"><br><br>

            <input type="submit" value="Update Book">
        </form>
    </fieldset>

</div>
