<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SimpleCalculation</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
 <!--  <servlet>
    <description></description>
    <display-name>Addition2</display-name>
    <servlet-name>Addition2</servlet-name>
    <servlet-class>com.demo.servlet.Addition2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addition2</servlet-name>
    <url-pattern>/Add</url-pattern>
  </servlet-mapping>  --> 
  <servlet>
    
   <!-- <display-name>RegisServlet</display-name> -->
    <servlet-name>RegisServlet</servlet-name>
    <servlet-class>com.demo.servlet.RegisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisServlet</servlet-name>
    <url-pattern>/RegisServlet</url-pattern>
  </servlet-mapping>
</web-app>